/* Homepage */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  
  ul li {
    display: inline;
    margin-right: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  
  ul a {
    text-decoration: none;
    color: #A5A5A5;
  }
  
  .login-nav {
    background-color: #A0D9ED;
  }
  
  .right-links {
    display: flex;
    align-items: center;
  }
  
  .muscle-mind a {
    margin-left: 0;
  }
  
  .content {
    margin-top: 0px;
  }
  
  .gray-bg {
    background-color: #FBFBFD;
    height: 30rem;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
  }
  
  .white-bg {
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: #A5A5A5;
  }
  
  .alt-bg {
    background-color: #A0D9ED;
  }
  .white-md {
    margin-top: 0;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    justify-content: center;
    font-size: 1rem;
    color: #A5A5A5;
    margin-bottom: 0;
  }
  
  .footer {
    background-color: white;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color: #A5A5A5;
    margin-bottom: 0;
  }
  
  .black-bg {
    background-color: #A0D9ED;
    height: 30rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    justify-content: center;
    text-align: center;
  }
  
  .blue-text {
    color: #A0D9ED;
  }
  
  .blue-btn {
    background: white;
    border: 2px solid #5899ff;
    border-radius: 10px;
    padding: 4px 15px;
    color: #5899ff;
    display: inline-block;
    font: normal normal 18px/30px "Open Sans", sans-serif;
    text-align: center;
    box-shadow: none;
    outline: none;
  }
  
  .white-btn {
    background:    #ffffff;
    border-radius: 10px;
    padding:       4px 25px;
    color:         #5899FF;
    display:       inline-block;
    font:          normal normal 18px/40px "Open Sans", sans-serif;
    text-align:    center;
  }
  body {
    margin-top: 0;
  }
  
  hr.solid {
    border-top: 3px solid #bbb;
    margin-top: 0;
  }
  
  .row {
    margin-top: 0px;
  }
  
  .logo {
    margin-left: 0px;
  }
  
  /* Layout */
  
  
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 0 0 0;
    padding: 0;
    transition: margin-left 0.5s;
  }
  
  main, header, footer {
    transition: margin-left 0.5s;
    margin-left: 0; /* Ensure default margin is 0 */
  }
  
  .nav-bar {
    display: flex;
    background-color: #A0D9ED;
    color: white;
    padding: 0px;
    align-items: center;
    height: 65px;
    position: relative;
    width: 100%; 
    z-index: 2; /* Higher than the drawer */ 
  }
  
  .nav-bar .logo img {
    height: 40px;
  }
  
  .menu-toggle {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
  }
  
  .drawer {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1C388C;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
  }
  
  .drawer a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: color 0.3s;
  }
  
  .drawer a:hover {
    color: lightgray;
  }
  
  .spacer {
    flex: 1;
  }
  
  .flavors-section {
    background-color: #f9fbfd; /* Heller Hintergrund für die Section */
    border-top: 5px solid #b0b0b0; /* Graue obere Linie */
    border-bottom: 5px solid #b0b0b0; /* Graue untere Linie */
    text-align: center; /* Zentriert das Bild innerhalb der Section */
    padding: 20px 0; /* Vertikaler Abstand für Luft um das Bild */
}

.flavors-section img {
    max-width: 100%; /* Bild passt sich der Breite der Section an */
    height: auto; /* Höhe passt sich automatisch an, um das Seitenverhältnis zu erhalten */
}

@media (max-width: 768px) {
    .flavors-section {
        padding: 15px 0; /* Weniger vertikaler Abstand auf kleineren Bildschirmen */
    }
}

@media (max-width: 480px) {
    .flavors-section {
        padding: 10px 0; /* Noch weniger Abstand auf sehr kleinen Bildschirmen */
    }
}

  /* Styling des Buttons für nav bar */
  .custom-button {
    background-color: #5899FF; 
    border: none;
    color: white; 
    padding: 5px 10px;
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    outline: none; 
    margin-top: 10px;
  }
  
  .custom-button:hover {
    background-color: #3456A1;
  }
  
  .custom-button:focus {
    outline: none; 
  }
  
  .headline {
    font-size: 2rem; /* Macht die Überschrift größer */
    font-weight: bold; /* Macht die Überschrift fett */
    text-align: center;
  }

  .text {
    font-size: 1rem; /* Standardgröße für normalen Text */
    margin-top: 0; /* Entfernt unnötigen Abstand oberhalb des Textes */
  }
  /* Continue with other styles as before */
  
  
  footer {
    font-family: 'Open Sans', sans-serif;
    background-color: #A0D9ED;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  @media (max-width: 600px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
    }
  
    .nav-icons {
      width: 100%;
      justify-content: space-around;
      padding: 10px 0;
    }
  
    .nav-icons a {
      margin-left: 0;
    }
  }