<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>NikoPick</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <style>
      @font-face {
        font-family: 'Open Sans';
        src: url('https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0b.woff2') format('woff2');
        font-display: swap;
      }
    </style>
</head>

<body>
<div class="default-page content">
    <div class="container">
        <div class="row" style="margin-bottom: 2rem; justify-content: center;">
            <div class="col-md-6 order-1 white-bg"><h1>FÜHL DICH FREI EGAL WO DU BIST</h1>
            </div>
        </div>
        <div class="row" style="justify-content: center;">
            <div class="col-md-6 order-2 text-center">
                <svg width="300" height="300">
                    <image xlink:href="images/nikopick-logo.jpeg" alt="Apple Flavor" width="300" height="300"/>
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 white-bg">
                <button onclick="window.location.href='/documents'" class="nav-item custom-button">Anmelden und Vorbestellen</button> <br><br>
                <p>&#10003; DISKRET & GERUCHSNEUTRAL</p>
                <p>&#10003; VERSCHIEDENE GESCHMACKSRICHTUNGEN</p>
                <p>&#10003; RAUCHFREIE NIKOTINZUFUHR, JEDERZEIT UND ÜBERALL</p>
            </div>
        </div>
        <div class="col-md-12 white-bg alt-bg">
            <p>SUCHST DU NACH EINER SMARTEN, DISKRETEN ALTERNATIVE, UM DEINEN
                NIKOTIN-KICK ZU GENIESEN, OHNE RAUCH UND OHNE E-ZIGARETTE? DIE
                NIKOPICKS LIEFERN DIR GENAU DAS - WO UND WANN DU WILLST! EINFACH IN
                DEN MUND NEHMEN, DEN GESCHMACK GENIESEN UND DEN NIKOTIN-KICK
                ERLEBEN, WÄHREND DU NEBENBEI DIE ZÄHNE PFLEGST.
            </p>
        </div>
        <div class="flavors-section">
            <image src="images/geschmaecker.png" alt="geschmaecker"/>
        </div>
        <div class="row">
            <div class="col-md-6 gray-bg order-md-1 order-1">
                <image src="images/blue-nikopick.png" alt="blue"/>
            </div>
            <div class="col-md-6 black-bg order-md-2 order-2">
                <p class="headline">MINT NIKOPICK</p>
            </div>
            <div class="col-md-6 black-bg order-md-3 order-4" style="background-color: yellow;">
                <p class="headline">LEMON NIKOPICK</p>
            </div>
            <div class="col-md-6 gray-bg order-md-4 order-3">
                <image src="images/yellow-nikopick.png" alt="yellow"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 gray-bg order-md-1 order-1">
                <image src="images/green-nikopick.png" alt="green"/>
            </div>
            <div class="col-md-6 black-bg order-md-2 order-2" style="background-color: green;">
                <p class="headline">HERB NIKOPICK</p>
            </div>
            <div class="col-md-6 black-bg order-md-3 order-4" style="background-color: red;">
                <p class="headline">STRONG NIKOPICK</p>
            </div>
            <div class="col-md-6 gray-bg order-md-4 order-3">
                <image src="images/red-nikopick.png" alt="red"/>
            </div>
        </div>
        <div class="col-md-12 white-bg alt-bg">
            <button onclick="window.location.href='/documents'" class="nav-item custom-button">Vorbestellen</button> <br><br>
            <p>IDEAL FÜR LANGE MEETINGS, REISEN ODER MOMENTE, IN DENEN RAUCHEN
            KEINE OPTION IST. UNSERE NIKOTIN-ZAHNSTOCHER SIND IN VERSCHIEDENEN
            GESCHMACKSRICHTUNGEN ERHÄLTLICH UND LASSEN DICH DEIN 
            VERLANGEN NACH NIKOTIN OHNE AUFSEHEN STILLEN. EIN KLEINER
            ZAHNSTOCHER, EIN GROSSER UNTERSCHIED!
            </p>
        </div>
        <div class="row" style="margin-bottom: 50px;">
            <hr class="solid order-6">
            <div class="col-md-12 order-7 footer">
                <image src="images/warnung.png" alt="warnung"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
